$spacing-tiny: 8px;
$spacing-small: 16px;
$spacing-base: 24px;
$spacing-big: 40px;
$spacing-huge: 64px;
$spacing-gigantic: 104px;

$branded-spacing-tiny: $spacing-tiny;
$branded-spacing-small: $spacing-small;
$branded-spacing-base: $spacing-base;
$branded-spacing-big: $spacing-big;
$branded-spacing-huge: $spacing-huge;
$branded-spacing-gigantic: $spacing-gigantic;
